html,
body {
	padding-top: 72px;
}

html{
	height: 100%;
}
body {
	min-height: 100%;
	overflow: hidden;
}

#verificacaoNome {
	margin-top: 15vh;
}

#inputNomeContainer {
	position: fixed;
	z-index: 1;
	top: 22%;
	left: 80%;
}

.videosGrandes {
	margin-top: -10%;
}

.videosOnibus {
	margin-top: -12% !important;
	height: 72% !important;
}

.imgsFull {
	width:100%;	
	height: 96%;
	margin-top: -4%;
}

#guiaDaCorsanTelaTratamentoAgua {
	position: absolute;
	top: -14vh;
}

#row1TelaTratamentoAgua {
	position: absolute;
	top: 32vh;
}
#row2TelaTratamentoAgua {
	position: absolute;
	top: 60vh;
}

#balaoTelaTratamento {
	position: absolute;
	top: -50vh;
	left: -30vw;
}
