html,
body {
	padding-top: 72px;
}

html{
	height: 100%;
}
body {
	min-height: 100%;
	overflow: hidden;
}

.mLeft80 {
	margin-left: 80%;
}

#verificacaoNome {
	margin-top: 15vh;
}

#inputNomeContainer {
	position: fixed;
	z-index: 1;
	top: 22%;
	left: 80%;
}

.videosGrandes {
	margin-top: -10%;
}

.videosOnibus {
	margin-top: -12% !important;
	height: 72% !important;
}

.imgsFull {
	width:100%;	
	height: 96%;
	margin-top: -4%;
}



#guiaDaCorsanTelaTratamentoAgua {
	position: absolute;
	max-width: 40%;
	z-index: 1;
	top: 50%;
	margin-top: -4%;
}


.imagemTratamentoGeral {
	cursor: pointer;
	position: absolute;
	width: 20vw;
	height: auto;
}

#textoTratamento {
	position: absolute;
	left: 43%;
	right: -40%;
	text-align: justify;
	z-index: 2;
	color: #FFFFFF;
	font-size: calc((2vh + 1vw)/2);
	font-family: 'Roboto Condensed', sans-serif;
	top: 0.5vh;
}


#balaoDeFalaTratamento {
	position: absolute;
	left: 40%;
	right: 28%;
	z-index:1;
	width: 20vw;
	height: 10vh;
}
