html,
body {
	padding-top: 59px;
    overflow-x: hidden;
}

html{
  height: 100%;
}
body {
  min-height: 100%;
}


.marginName {
	margin-top: 50px;
}

	/* Imagens Fixas */

.iconFixoHelp {
	cursor: help;
	z-index: 1;
	font-size: 40px;
	color: gray;
}

.iconFixoHelp:hover {
	color: black;
}

.iconFixoFechar {
	cursor: pointer;
	z-index: 1;
	font-size: 40px;
	color: black;
}
.iconFixoFechar:hover { color: red; }

.iconFixoSetaEsquerda {
	cursor: pointer;
	position: absolute;
	left: 3%;
	bottom: 5%;
	z-index: 5;
	top: 90%;
	font-size: 40px;
	color: gray;
}
.iconFixoSetaEsquerda:hover {
	color: black;
}

.iconFixoSetaDireita {
	cursor: pointer;
	position: absolute;
	right: 3%;
	bottom: 5%;
	z-index: 5;
	top: 90%;
	font-size: 40px;
	color: gray;
}

.iconFixoSetaDireita:hover {
	color: black;
}






	/*IMAGENS GERAIS */

.imagemPlaneta {
	position: absolute;
	height: auto;
	width: auto;
	z-index:0;
}
.imagemEngenheiro {
	position: absolute;
	max-width: 40%;
	z-index: 1;
	top: 50%;
	margin-top: -24%;
}









	/* NAVBAR */

	
.navbar {
	background-color: #00458e;
	z-index: 0;
	height: auto;
}


	@media (max-width: 500px) {
		.navbar {
			max-height: 75px !important;
		}
	}
	
	
		@media (min-width: 500px) {
			.navbar {
				height: 108px !important;
			}

		}
		
.positionRight {
	right: 3%;
	top: 2%;
	position: absolute;
	transform: translateY(10%);
}


.positionLeft {
	left: 3%;
	top: 2%;
	position: absolute;
	transform: translateY(10%);
}

.positionCenter {
	left: 36%;
	right:41%;
	position:absolute;
	transform: translateY(5%);
}

.textTitle {
	color: #FFFFFF;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	margin-top: 15px;
}

.textTitleContent {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	margin-top: 15px;
	margin-left: 52%;
}


	@media (max-width: 300px) {
		.textTitle {
			font-size: 6px;
		}
		.textTitleContent {
			font-size: 5px;
		}
	}
	@media (min-width: 300px) and (max-width: 500px) {
		.textTitle {
			font-size: 8px;
		}
		.textTitleContent {
			font-size: 6px;
		}
	}
	
		@media (min-width: 500px) and (max-width: 700px) {
		.textTitle {
			font-size: 14px;
		}
		.textTitleContent {
			font-size: 12px;
		}
	}
	
	@media (min-width: 700px) and (max-width: 950px) {	
		.textTitle {
			font-size: 19px;
		}
		.textTitleContent {
			font-size: 16px;
		}
	}
	
	@media (min-width: 1200px) {
		.textTitle {
			font-size: 25px;
		}
		.textTitleContent {
			font-size: 20px;
		}
	}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}


@media (max-width:768px) {
	.imagemLogoResponsivaNavbar {
	max-width: 12%;
}
	.imagemUnijuiResponsivaNavbar {
	max-width: 20%;
}
}

@media (min-width: 769px) and (max-width: 1600px) {
	.imagemLogoResponsivaNavbar {
	max-width: 6%;
}
	.imagemUnijuiResponsivaNavbar {
	max-width: 17%;
}
}

@media (min-width: 1600px) and (max-width:1920px) {
	.imagemLogoResponsivaNavbar {
	max-width: 4%;
}
	.imagemUnijuiResponsivaNavbar {
	max-width: 12%;
}
}
@media (min-width: 1920px) {
	.imagemLogoResponsivaNavbar {
	max-width: 3.5%;
}
	.imagemUnijuiResponsivaNavbar {
	max-width: 10%;
}
}



.imagemLogoResponsivaNavbar {
	display: block;
	height: auto;
}


.imagemUnijuiResponsivaNavbar {
	display: block;
	height: auto;
}








	/* SCENE 1 */


.scene1Text1 {
	position: absolute;
	left: 32%;
	right: 5%;
	text-align: justify;
	z-index: 1;
	color: #FFFFFF;
	font-size: calc((2vh + 1vw)/1.8);
	font-family: 'Roboto Condensed', sans-serif;

}

.scene1Text2 {
	position:absolute;
	left: 32%;
	right: 20%;
	text-align: justify;
	z-index: 1;
	color: #FFFFFF;
	font-size: calc((2vh + 1vw)/1.8);
	font-family: 'Roboto Condensed', sans-serif;

}



.scene1Bubble1 {
	position: absolute;
	left: 31%;
	top: 100%;
	right: 40%;
	z-index:0;
	width: 42vw;
	height: 12vh;
}

.scene1Bubble2 {
	position: absolute;
	left: 31%;
	right: 40%;
	z-index: 0;
	width: 31vw;
	height: 5vh;
}


.imagemPlaneta01{
	width: 200%;
	height: auto;
	display: block;
	margin-left: -75%;
}









	/* SCENE 2 */

.imagemUsinasGeral {
	cursor: pointer;
	position: absolute;
	width: 20vw;
	height: auto;
}


.scene2Text1 {
	position: absolute;
	left: 41%;
	right: -40%;
	text-align: justify;
	z-index: 2;
	color: #FFFFFF;
	font-size: calc((2vh + 1vw)/2);
	font-family: 'Roboto Condensed', sans-serif;
}


.scene2Bubble1 {
	position: absolute;
	left: 40%;
	right: 28%;
	z-index:1;
	width: 20vw;
	height: 10vh;
}

.scene2Sub1 {
	position: absolute;
	height: 70vh;
	width: 100%;
	border-radius: 2%;
	background-color: #018FB3;
	z-index: 0;
	margin-top: 2%;
}

.scene2Sub2 {
	position: absolute;
	height: 65vh;
	width: 55%;
	margin-left: 44%;
	margin-top: 3%;
	z-index: 2;
	border-radius: 5%;
	background-color: #FFFFFF;
	
}

.animacaoUsina {
	position: absolute;
	z-index: 1;
	margin-top: 30%;
	margin-left: 8%;
}

.textoUsina {
	position: absolute;
	margin-top: 12%;
	margin-left: 22%;
	z-index: 3;
	
	font-size: calc((3vh + 1.5vw)/2);
	font-family: 'Roboto Condensed', sans-serif;
	color: #000000;
}

.tituloUsina {
	position: absolute;
	margin-left: 22%;
	margin-top: 4%;
	z-index: 3;
	
	font-size: calc((5vh + 2.5vw)/2);
	font-family: 'Roboto Condensed', sans-serif;
	color: #000000;
	font-weight: 900;
}



.iconFecharUsinas {
	position: absolute;
	cursor: pointer;
	color:black;
	margin-left: 93%;
	margin-top: 5%;
	z-index: 3;
	max-width: 3%;
	font-size: 40px;
}

.iconFecharUsinas:hover {
	color:red;
}


.imagemEngenheiro02 {
	position: absolute;
	max-width: 40%;
	z-index: 1;
	top: 50%;
	margin-top: -4%;
}





	/* SCENE 3 */
	
	
.imagensImpostos {
	cursor: pointer;
	max-width: 22vw;
	max-height: 11vh;
	height: 100%;
	width: 100%;
}

.noPadding {
	padding: 0px;
}

.paddingLeftImposto {
	padding-left: 12px;
}
.marginImposto {
	margin-top: 50px;
}

	
.containerImposto {
	height: 20%;
}
.textoImposto {
	font-family: 'Roboto Condensed', sans-serif;
	color: #FFFFFF;
	padding: 15px 5px 5px 15px;
	word-wrap: break-word;
}

@media (max-width:400px) {
	.textoImposto {
		font-size: 8px;
	}
}

@media (min-width:400px) and (max-width:650px) {
	.textoImposto {
		font-size: 10px;
	}
}

@media (min-width:650px) and (max-width: 800px) {
	.textoImposto {
		font-size: 13px;
	}
}

@media (min-width:800px) and (max-width: 1600px) {
	.textoImposto {
		font-size: 15px;
	}
}

@media (min-width:1600px) {
	.textoImposto {
		font-size: 22px;
	}
}

.scene3Bubble1 {
	position: absolute;
	margin-left: 10%;
	left: 12%;
	top: 100%;
	right: 50%;
	z-index:0;
	width: 16vw;
	height: 14vh;
}

.scene3Text1 {
	position: absolute;
	left: 32%;
	right: -90%;
	top: 3%;
	text-align: justify;
	z-index: 1;
	color: #FFFFFF;
	font-size: calc((2vh + 1vw)/1.8);
	font-family: 'Roboto Condensed', sans-serif;

}

.imagemEngenheiro03 {
	position: absolute;
	max-width: 40%;
	z-index: 1;
	top: 50%;
	left: 50%;
	margin-top: -4%;
}



/* SCENE 04 */

.imagemEngenheiro04 {
	position: absolute;
	max-width: 40%;
	z-index: 1;
	top: 50%;
	left: 50%;
	margin-top: 15%;
}

.scene4Bubble1 {
	position: absolute;
	left: -8%;
	top: 12%;
	width: 70vw;
	height: 40vh;
}

.scene4Text1 {
	position: absolute;
	left: -5%;
	line-height: 125%;
	right: -10%;
	top: 2000%;
	text-align: justify;
	z-index: 1;
	color: #FFFFFF;
	font-size: calc((4vh + 2vw)/1.9);
	font-family: 'Roboto Condensed', sans-serif;
}



/* SCENE 05 */

.questionNumber {
	font-family: : 'Roboto Condensed', sans-serif;
	font-size: 40px;
	color: #DB8422;
}

.questionText {
	font-family: : 'Roboto Condensed', sans-serif;
	font-size: 16px;
	color: black;
}

.containerLetra {
	border: 1px solid;
	border-color: #6d6d6d;
	border-radius: 5px;
	text-align: left;
	margin-right: 10px;
	padding: 4px;
	color: #6d6d6d;
}

.btn-questoes {
	text-align: left;
	margin-top: 5px;
}

.btn-questoes:hover {
	background-color: #c4c2c2;
}

.btn-enviar {
	margin-top: 5px;
}

/* SCENE 06 */

.imagemEngenheiro06 {
	position: absolute;
	max-width: 40%;
	z-index: 1;
	top: 50%;
	left: 50%;
	margin-top: 15%;
}

.scene6Bubble1 {
	position: absolute;
	left: 32%;
	top: 12%;
	width: 50vw;
	height: 30vh;
}

.scene6Text1 {
	position: absolute;
	left: 34%;
	line-height: 125%;
	right: -15%;
	top: 2000%;
	text-align: justify;
	z-index: 1;
	color: #FFFFFF;
	font-size: calc((4vh + 2vw)/1.9);
	font-family: 'Roboto Condensed', sans-serif;
}



/* SCENE 07 */

.imagemCircular {
	border-radius: 50%;
}

.titleCaminho {
    font-weight: bold;
    font-size: calc((4vh + 2vw)/1.9);
	font-family: 'Roboto Condensed', sans-serif;
}

.textoScene7 {
    text-align: justify;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 3%;
    font-size: calc((2vh + 1vw)/1.5);
}

.setaTransmissao {
	cursor: pointer;
	font-size: 32px;
	margin-top: 150%;
	color: gray;
}


.setaTransmissao:hover {
	color: green;
}

.glyphIconDisabled {
	cursor: not-allowed;
}












/*SCENE ? */

.titleMatrizEnergetica {
	font-weight: bold;
    font-size: calc((4vh + 2vw)/1.9);
	font-family: 'Roboto Condensed', sans-serif;
}

.textoMatrizEnergetica {
	text-align: justify;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 3%;
    font-size: calc((2vh + 1vw)/1.5);
}

.fundoMatrizEnergetica {
	position: absolute;
	height: 55vh;
	border-radius: 3%;
	background-color: #C55500;
	z-index: 0;
}

.tableDadosMatrizEnergetica {
	z-index: 1;
	color: #FFFFFF;
	margin-top: 1%;
	display: table;
}

th, td { padding: 5px; }


