html,
body {
	/*padding-top: 72px;*/
}

html{
	height: 100%;
}

body {
	min-height: 100%;
	overflow: hidden;
}

.navbar .row {
	background-color: #00458e;
	/*z-index: 20;*/
	/*height: 100px;*/
}

.geral {
	overflow: hidden;
}

.invisivel {
	display: none;
}

.navbar {
	margin-bottom: 0px;
	border: 0px;
}

.navbar .titulo {
	color: #FFFFFF;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
}

.scr-login {
	display: block;
}

/*.scr-login video {
width: 100%;
height: auto;
position: relative;
z-index: -100;
}*/

.scr-login video {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	transition: 1s opacity;
}

.scr-login .login {
	position: relative;
	/*margin-top: -300;*/
	z-index: 100;
	background-size: cover;
	height: 100%
	/*transform: translateY(50%);*/
}

/*@media screen and (orientation: portrait) {
.scr-login video {
width: auto;
height: 100%;
}
}

@media screen and (orientation: landscape) {
.scr-login video {
width: 100%;
height: auto;
}
}*/
