.textTitleContent {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	font-size: 32px;
}

#iconesFixos {
}
#iconCalculadora {
	cursor: pointer;
	position: absolute;
	left: 15vw;
	z-index: 1;
	font-size: 40px;
	color: green;
}

#iconMais {
	z-index: 5;
	position: absolute;
	left: 10vw;
	font-size: 40px;
	color: #1712e6;
	cursor: pointer;
}

#iconMais:hover {
	color:#04018a;
}

#iconHelp {
	cursor: help;
	position: absolute;
	left: 5vw;
	z-index: 1;
	font-size: 40px;
	color: #b712d4;
}

#iconFechar {
	cursor: pointer;
	position:absolute;
	left: 0vw;
	z-index: 1;
	font-size: 40px;
	color: black;
}
#iconFechar:hover {
	color: red;
}

#iconSetaEsquerda {
	cursor: pointer;
	position: fixed;
	top: 85vh;
	right: 94vw;
	z-index: 5;
	font-size: 40px;
	color: gray;
}
#iconSetaEsquerda:hover {
	color: black;
}

#iconSetaDireita {
	cursor: pointer;
	position: fixed;
	top: 85vh;
	z-index: 5;
	font-size: 40px;
	color: gray;
}

#iconSetaDireita:hover {
	color: black;
}