html,
body {
	padding-top: 72px;
	overflow-x: hidden;
}

html{
	height: 100%;
}
body {
	min-height: 100%;
}

#verificacaoNome {
	margin-top: 15vh;
}

#containerVideo1TelaNome {
	margin-top: 27vh;
}

#video1TelaNome {
	position: absolute;
	max-width: 65%;
	margin-left: 3vw;
	z-index: 3;
}

#video2TelaNome {
	position: absolute;
	z-index: 1;
	margin-left: -4.5vw;
}


#containerPersonagemExtraTelaNome{
	max-width: 75%;
}








@media (max-device-aspect-ratio: 8/8) {
		#containerVideo1TelaNome {
			margin-top: 15vh;	
		}
	}

	@media (max-device-aspect-ratio: 4/8) {
		#containerVideo1TelaNome {
			margin-top: 6vh;	
		}
	}
	

