html,
body {
	padding-top: 72px;
}

html{
	height: 100%;
}
body {
	min-height: 100%;
	overflow: hidden;
}


.noMargin {
	margin: 0px;
}
.col-xs-offset-05 {
	margin-left: 4.166%;
}

.col-xs-075 {
	width: 6.25%;
	float: left;
}

.col-xs-15 {
	width: 12%;
	float: left;
}

.mLeft23 {
	margin-left: 23%;
}

.mLeft29 {
	margin-left: 29%;
}

.mLeft025 {
	margin-left: 0.25%;
}
#geral {
	overflow: hidden;
}
#verificacaoNome {
	margin-top: 15vh;
}

#containerVideo1TelaNome {
	margin-top: 27vh;
}

#telaNome {
	margin-top: -5%;
}
#video1TelaNome {
	position: absolute;
	max-width: 65%;
	margin-left: 3vw;
	z-index: 2;
}

#video2TelaNome {
	position: absolute;
	z-index: 1;
	margin-left: -4.5vw;
}


#containerPersonagemExtraTelaNome{
	max-width: 75%;
}

#balao1TelaNome {
	position: absolute;
	z-index: 3;
	width: 20vw;
	height: 24vh;
	left: 90%;
	right: 40%;
	z-index: 3;

}

#balao2TelaNome {
	position: absolute;
	width: 20vw;
	height: 24vh;
	top: 29%;
	left: 8%;
	right: 100%;
	z-index: 3;
}

#fala1TelaNome {
	color: white;
	position: absolute;
	z-index: 4;
	left: 110%;
	margin-top: 39%;
	right: -192%;
	font-size: calc((2vh + 1vw)/2);

}

#fala2TelaNome {
	position: absolute;
	margin-top: 29%;
	left: 44%;
	right: -125%;
	color: white;
	z-index: 4;
	font-size: calc((2vh + 1vw)/2);

}


#setaEsquerdaNome {	
	position: absolute;
	font-size: 40;
	top: 22vh;
	cursor: pointer;
	color: gray;
}

#setaEsquerdaNome:hover {
	font-size: 50;
	color: black;
}

#setaDireitaNome {
	position: absolute;
	font-size: 40;
	top: 22vh;
	left: 22vw;
	z-index: 5;
	cursor: pointer;
	color: gray;
}

#setaDireitaNome:hover {
	font-size: 50;
	color: black;
}
#seuChicoTelaNome {
	margin-left: -20%;
	max-width: 180%;
}

#videoHidreletrica {
	min-width: 100%; 
	min-height: 100%; 


	width: auto;
	height: auto;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.video-container {
	position: absolute;
	top: 2%;
	bottom: 0;
	width: 86%;
	height: 100%; 
	overflow: hidden;
	left: 6%;
}


#containerVideo1TelaConversa2 {
	margin-top: 27vh;
}

#video1telaConversa2 {
	position: absolute;
	max-width: 65%;
	margin-left: 3vw;
	z-index: 2;
}

#video2telaConversa2 {
	position: absolute;
	z-index: 1;
	margin-left: -4.5vw;
}


#containerPersonagemExtratelaConversa2{
	max-width: 75%;
}

#balao1telaConversa2 {
	position: absolute;
	z-index: 3;
	width: 20vw;
	height: 20vh;
	left: 90%;
	right: 40%;
	z-index: 3;

}

#balao2telaConversa2 {
	position: absolute;
	width: 20vw;
	height: 21vh;
	top: 22%;
	left: 8%;
	right: 100%;
	z-index: 3;
}

#fala1telaConversa2 {
	color: white;
	position: absolute;
	z-index: 4;
	left: 110%;
	margin-top: 35%;
	right: -192%;
	font-size: calc((2vh + 1vw)/2);

}

#fala2telaConversa2 {
	position: absolute;
	margin-top: 29%;
	left: 44%;
	right: -125%;
	color: white;
	z-index: 4;
	font-size: calc((2vh + 1vw)/2);

}


#setaEsquerdaConversa2 {	
	position: absolute;
	font-size: 40;
	top: 22vh;
	cursor: pointer;
	color: gray;
}

#setaEsquerdaConversa2:hover {
	font-size: 50;
	color: black;
}

#setaDireitaConversa2 {
	position: absolute;
	font-size: 40;
	top: 22vh;
	left: 22vw;
	z-index: 5;
	cursor: pointer;
	color: gray;
}

#setaDireitaConversa2:hover {
	font-size: 50;
	color: black;
}
#seuChicotelaConversa2 {
	margin-left: -20%;
	max-width: 110%;
}

#iconePlayMediaAritmetica {
	font-size: 40px;
	color: gray;
}

#iconePlayMediaAritmetica:hover {
	color: green;
}

#botaoEnviarRespostaQ1 {
	margin-top: 1.5%;
}

.whiteSpaceButton {
	white-space: normal;
	text-align: left;
}

.noLeftBorder {
	border-left-color: #FFFFFF !important;
}

.noRightBorder {
	border-right-color: #FFFFFF !important;
}

.tabelaTotal {
	background-color: blanchedalmond;
}

#iconePlayQuestaoMediaAritmetica {
	font-size: 40px;
	color: gray;
}

#iconePlayQuestaoMediaAritmetica:hover {
	color: green;
}

#imgConsumoSeuChico {
	width:100%;	
	height: 87.6%;
}

#tabelaAgrupadaConsumoMensal {
	/*margin-top: 5%;*/
}

#iconePlayMediana {
	font-size: 40px;
	color: gray;
}

#iconePlayMediana:hover {
	color: green;
}

#iconePlayMediana2 {
	font-size: 40px;
	color: gray;
}

#iconePlayMediana2:hover {
	color: green;
}

#balaoTelaModa {
	width:200%;
	height:50%;
}

#falaModa {
	position: absolute;
	margin-top: -70%;
	color: #FFFFFF;
	margin-left: 30%;
	right: -80%;
	font-size: calc((2.6vh+1.3vw));
}

#balao1TelaConversa3 {
	position: absolute;
	width: 20vw;
	height: 21vh;
	top: 17%;
	left: 10%;
	right: 100%;
	z-index: 1;
}

#balao2TelaConversa3 {
	position: absolute;
	width: 20vw;
	height: 21vh;
	top: 14%;
	left: 42%;
	right: 100%;
	z-index: 1;
}

#balao3TelaConversa3 {
	position: absolute;
	width: 20vw;
	height: 20vh;
	top: 19.3%;
	margin-left: 40%;
	left: 24%;
	right: 100%;
	z-index: 1;
}

#telaCriancasConversa3 {
	position: absolute;
	max-width: 50%;
	z-index: 0;
	margin-top: 5%;
	margin-left: 24%;
}

#setaEsquerdaConversa3 {	
	position: absolute;
	font-size: 40;
	top: 55vh;
	cursor: pointer;
	color: gray;
	left: 18vw;
}

#setaEsquerdaConversa3:hover {
	font-size: 50;
	color: black;
}

#setaDireitaConversa3 {
	position: absolute;
	font-size: 40;
	top: 55vh;
	z-index: 5;
	cursor: pointer;
	color: gray;
	left: 76vw;
}

#fala1TelaConversa3 {
	position: absolute;
	z-index: 2;
	left: 11%;
	right: 71%;
	color: white;
	font-size: 2vh;
	top: 18%;
}

#fala2TelaConversa3 {
	position: absolute;
	color: white;
	z-index: 2;
	left: 43%;
	top: 16%;
	font-size: 2vh;
	right: 38%;
}

#fala3TelaConversa3 {
	position: absolute;
	left: 65%;
	top: 21%;
	z-index: 2;
	color: white;
	font-size: 2vh;
}

#setaDireitaConversa3:hover {
	font-size: 50;
	color: black;
}

#videoSelecaoQuestoes {
	margin-top: 5%;
}

#papelSelecaoQuestao1 {
	position: absolute;
	top: 10%;
	max-width: 8%;
	left: 20%;
	cursor: pointer;
}

#papelSelecaoQuestao2 {
	position: absolute;
	top: 10%;
	max-width: 10%;
	left: 28%;
	cursor: pointer;
}

#papelSelecaoQuestao3 {
	position: absolute;
	top: 33%;
	max-width: 25%;
	left: 82%;
	cursor: pointer;
}

#papelSelecaoQuestao4 {
	position: absolute;
	top: 10%;
	max-width: 25%;
	left: 58%;
	cursor: pointer;
}

#papelSelecaoQuestao1:hover {
	max-width: 12%;
	z-index: 4;
}

#papelSelecaoQuestao2:hover {
	max-width: 15%;
}

#papelSelecaoQuestao3:hover {
	max-width: 36%;
}

#papelSelecaoQuestao4:hover {
	max-width: 36%;
}

.width100 {
	width: 100%;
}

.hideColumn1Ativ1 {
	display: none;
}

.index {
	display: none;
}

.iconSetaVoltarAtividades {
	color: #79858c;
	font-size: 60px;
	position: absolute;
	top: 24vh;
	cursor: pointer;
}

.iconSetaVoltarAtividades:hover {
	color: #52626b;
	font-size: 65px;
}

.imgUsinas {
	cursor:pointer;
}
@media (max-device-aspect-ratio: 8/8) {
	#containerVideo1TelaNome {
		margin-top: 15vh;	
	}
	#containerVideo1TelaConversa2 {
		margin-top: 15vh;	
	}
}

@media (max-device-aspect-ratio: 4/8) {
	#containerVideo1TelaNome {
		margin-top: 6vh;	
	}
	#containerVideo1TelaConversa2 {
		margin-top: 6vh;	
	}
}

@media (max-width: 500) {
	#balao1TelaNome {
		height: 10vh;
	}
	#balao1TelaConversa2 {
		height: 10vh;
	}
}


